/*reset rules*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: "Open sans";
    font-weight: 400;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.clear {
    clear: both;
}
/*header*/
body >header {
    height: 70px;
    background-color: black;
}
body > header .logo {
    margin-left: 150px;
    margin-top: 20px;
}
/*nav*/
nav {
    float: right;
    margin-right: 150px;
    line-height: 70px;
}
nav ul li {
   float: left;
}
nav ul li:not(:last-child){
   margin-right: 46px;  
}
nav ul li a {
    color: white;
    text-decoration: none;
}
    nav ul li a:hover{
        color:#f99f1e;
    }
    /*section-introduction*/
    .section-introduction{
        position: relative;
        height: 100%;
    }
    .background-image {
        background: url(../i/bg.jpg) no-repeat;
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
}
    .section-introduction .left-content {
        position: relative;
        float: left;
        width: 515px;
        margin-top: 110px;
        margin-left: 150px;
}
    .section-introduction .left-content header h1{
        font-size: 70px;
        color: white;
    }    
     .section-introduction .left-content header h1 span {
        color: #ff8b38;
    }
     .section-introduction .left-content header h2 {
        font-size: 36px;
        color: white;
    }
     .section-introduction .left-content hr {
        width: 64px;
        height: 2px;
        background-color: white;
        margin-top: 40px;
        margin-bottom: 40px;
    }
      .section-introduction .left-content .group-bottom p {
        font-size: 16px;
        color: white;
        line-height: 23px;
        }
      .section-introduction .left-content .group-bottom .white-button{
            display:inline-block;
            height: 42px;
            line-height: 42px;
            border: 2px solid white;
            text-decoration: none;
            margin-top: 50px;
            margin-bottom: 140px;
        }
        .section-introduction .left-content .group-bottom .white-button span {
             font-size: 15px;
             color: white;
             padding-left: 30px;
             padding-right: 30px;
          }
          /*end .left-content*/

    .right-content {
        position: relative;
        float: right;
        width: 360px;
        margin-right: 150px;
        margin-top: 140px; 
    }
    .right-content header {
        height: 55px;   
        background-color: purple;
    }
     .right-content header h1 {
         line-height: 55px;
         color: #f5f5f5;
         font-size: 22px;
         text-align: center;
        
     }
     .right-content header h1 span {
         color:#ff8b38;
     }
     .right-content .input-content  {
         background-color: #fff;
         padding-top: 30px;
         padding-bottom: 50px;
     }
     .right-content .input-content input {
         display: block;
         border-top: none;
         border-right: none;
          border-left: none;
         border-bottom: gray solid 1px;
         height: 30px;
         width: 285px;
         margin: 0 auto;
     }
      .right-content .input-content input:not(:first-child) {
margin-top: 36px;
      }
      /*custom place holder */
      .right-content .input-content 
     ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: orange;
   padding-left: 13px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: orange;
 padding-left: 13px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: orange;
   padding-left: 13px;
}
:-moz-placeholder { /* Firefox 18- */
  color: orange;
   padding-left: 13px;
}
      .right-content .get-started-btn {
          display: block;
          height: 55px;
          line-height: 55px;
          text-align: center;
          background-color: #ff9b51;
          color: white;
          font-size: 15px;
         text-decoration: none;
      }
      /*social media*/
     .social-media .left-content {
        float: left;
        width: 365px;
        margin-left: 150px;
        margin-top: 20px;
    }
        .social-media .left-content h1 {
            font-size: 20px;
            color: #333;
            margin-bottom: 15px;
        }
        .social-media .left-content p {
            font-size: 14px;
            color: #86878b;
            margin-bottom: 22px;
        }
    .social-media .social-buttons {
        float: right;
        margin-right: 160px;
        margin-top: 30px;
    }
        .social-media .social-buttons .sprites {
            background: url(../i/sprites.png) 0 0;
            float: left;
        }
        .social-media .social-buttons .fb-icon {
            display: block;
            width: 24px;
            height: 46px;
            background-position: 0 0;
        }
        .social-media .social-buttons .fb-icon:hover {
         background-position: 0 -64px;
         color: red;
         }
        .social-media .social-buttons .tw-icon {
            display: inline-block;
            width: 41px;
            height: 35px;
            background-position: -60px 0;
         }
         .social-media .social-buttons .tw-icon:hover {
         background-position: -60px -65px;
         }
        .social-media .social-buttons .gg-icon {
            display: block;
            width: 43px;
            height: 46px;
            background-position: -138px 0;
        }
        .social-media .social-buttons .gg-icon:hover {
        background-position: -138px -180px;
         }
        .social-media .social-buttons .pin-icon {
            display: block;
            width: 42px;
            height: 42px;
            background-position: -220px 0;
        }
        .social-media .social-buttons .pin-icon:hover {
            background-position: -220px -65px;
        }
        .social-media .social-buttons .insta-icon {
            display: block;
            width: 41px;
            height: 42px;
            background-position: -300px 0;
        }
        .social-media .social-buttons .insta-icon:hover {
            background-position: -300px -65px;
        }
        .social-media .social-buttons .para-icon {
            display: block;
            width: 50px;
            height: 40px;
            background-position: -370px 0;
        }
        .social-media .social-buttons .para-icon:hover {
            background-position: -370px -65px;
        }
        .social-media .social-buttons .rss-icon {
            display: block;
            width: 40px;
            height: 40px;
            background-position: -460px 0;
        }
         .social-media .social-buttons .rss-icon:hover {
            background-position: -460px -65px;
        }
        .social-media .social-buttons .sprites:not(:last-child) {
            margin-right: 40px;
        }
       /*table*/

    
.page2  {
        background-color: #f5f5f5;
        height: 590px;;
    }
    .page2 .table article{
    position: relative;
    width: 100px;
    height: 110px;
    border: 1px solid #A9A9A9;
    background-color: #333333;
    display: block;
    top: 146px;
    left: 143px; 
    }
    .page2 .table  .button-table-1 {
         border-radius: 4px 4px 0px 0px;
    }
    .page2 .table  .button-table-3 {
         border-radius: 0px 0px 4px 4px;
    }
    .page2 .table .button-table-1:hover {
    background-color: #ff8b38;
    }
     .page2 .table .button-table-2:hover {
    background-color: #ff8b38;
    }
     .page2 .table .button-table-3:hover {
    background-color: #ff8b38;
    }
    .page2 .table .button-table-1  a{
        text-decoration: none;
    }
        .page2 .table .button-table-1 p{
            color: white;
            line-height: 110px;
            text-decoration: none;
            text-align: center;
            font-size: 20px;
        }
         .page2 .table .button-table-2  a{
        text-decoration: none;
    }
         .page2 .table .button-table-2 p{
            color: white;
            line-height: 110px; 
            text-decoration: none;
            text-align: center;      
            font-size: 20px;  
        }
     .page2 .table .button-table-3  a{
        text-decoration: none;
    }
         .page2 .table .button-table-3 p{
            color: white;
            line-height: 110px;
            text-decoration: none;
            text-align: center;  
            font-size: 20px;      
        }
          .page2 .left-content {
              float: left;
             width: 480px;
             margin-top: -185px;
             margin-left: 350px;
             position: relative;
        }
        
        .page2 .left-content h2{
            font-size: 20px;
            margin-bottom: 50px;
        }
        .page2 > .left-content > .content-1 {
            line-height: 20px;
            font-size: 14px;
            margin-bottom: 30px;
            color: #97979b;
            text-align: justify;
        }
         .page2 > .left-content > .content-2 {
            line-height: 20px;
            font-size: 14px;
            margin-bottom: 50px;
             color: #97979b;
        }
         .page2 > .left-content > .button-download{
             display: inline-block;
             height: 42px;
             line-height: 42px;
             background-color: #ff8b38;
             border-radius: 4px;
             text-decoration: none;
         }
        .page2 > .left-content > .button-download .button-text{
            font-size: 15px;
            color: #fff;
            padding: 23px;
        }
        .page2 img {
            display: block;
        margin: 0 auto;
        padding: 0 auto;
        margin-top: -171px; 
        }
        /*page3*/
        .sublist{
            background-color: #fff;
            height: 595px;
        }
        .sublist .left-content {
            display: block;
            margin-top:  125px;
            margin-left: 155px;
        }
        /*end. left content page3*/
        .sublist .right-content {
            float: right;
            position: relative;
            width: 375px;
            margin-right: 195px;
            margin-top: -340px;
        }
         .sublist .right-content hr {
            width: 60px;
            height: 2px;
            background-color:#ff8b38;
         }
         .sublist .right-content p {
             color: #86878b;
             text-align: justify;
             font-size: 14px;
             line-height: 22px;
             margin-bottom: 45px;
         }
         .sublist .right-content  .icon1 {
             display: block;
             margin-top: 30px;
             margin-left: 12px;
         }
         .sublist .right-content .content .content2 {
             margin-top:  -45px;
             margin-left: 70px;
             line-height: 30px;
         }
         /*page4*/
         .standard{
             background-color: #f5f5f5;
             height: 525px;
         }
         .standard .content-big{
             float: left;
             margin-top: 110px;     
             margin-left: 150px;
             width: 40%;
         }
         .standard .content-big h1{
            font-size: 20px;
            margin-bottom: 20px;
         }
         .standard .content-big hr{
             border: 0px;
             background-color: #ff8b38 ;
             height: 3px;
             width: 12%;
             margin-bottom: 30px;
         }
         .standard > .content-big > .content1 , .content2{
             font-size: 15px;
             color: #86878b;
             margin-bottom: 30px;
             line-height: 20px;
         }

         .img-page4 {
             display: block;
             width: 35%;
             height: 50%;
             float: right ;
             margin-top: 7%;
             margin-right: 7%;
         }
         /*page5*/
         .bg5 {
             height: 550px ;
         }
         .bg5 h1{
             font-size: 36px;
             text-align: center;
             margin-top: 5%;
             margin-bottom: 2%;
         }
         .bg5 hr {
             background-color: #ff8b38;
             width: 8%;
             margin-left: 46%;
             height: 3px;
             border: 0px;
             margin-bottom: 2%;
         }
         .bg5 p{
             font-size: 14px;
             text-align: center;
             /*margin-left: 40%;*/
              color: #86878b;
             
         }
        .page5 {
            margin-top: 70px;
            width: 6%;
}
             .lamp-icon{
                 float: left;
                 margin-left: 15%;
             }
             .keyboard-icon{
                 margin-left: 25%;
             }
             .lighting-icon{
                 float: right;
                 margin-right: 19%;
             }
  .paper-5 article{
         display: inline-block;
         width: 30%;  
         height: 50%;
         margin-top: 30px;
 }
 .paper-5 article h1{
font-size: 20px;
margin-left: 20%;
 }       
 .paper-5 article p{
     font-size: 14px;
     line-height:20px;
     width: 95%;
     text-align: center;
     margin-left: 20%;
     margin-top: 9%;
    
 }  
 /* header page6 */
.bg6 {
    background-color: #f5f5f5;
    height: 880px ;
}
        .bg6 .title-big h1{
    font-size: 36px ;
    text-align: center;
    margin-bottom: 2%;
    padding-top: 5%;  
        }
        .bg6 .title-big hr{
            width: 26%;
            height: 3px;
            border: none;
            background-color:  #ff8b38;
            margin-left: 37%;
            margin-top: 3%;
        }
        .bg6 .title-big p{
            color: #86878b;
           text-align: center;
            margin-top: 3%;
            font-size: 14px;
        }
        .bg6 .list {
            display: inline-block;
            width: 25%;
         margin-top: 5%;
         text-align: center;
                       }
                        .one {
                 margin-left: 5%;
             }
           .one h3{
               font-size: 20px;
               color: white;
               background-color: #333333;
               padding: 6%;
           }
           .one h2 {
               font-size: 80px;
               color: white;
               background-color: #333333;
               border-top: 1px solid #f5f5f5;
               line-height: 110px;
           }
           .one h5 {
               font-size: 14px;
               color: #86878b;
               background: #333333;
             border-bottom: 5px solid #ff8b38;
               padding-bottom: 5%; 
           }
           .one p {
                color: #86878b;
                line-height: 30px;
                padding: 2%;
                 background-color: #fff;
           }
              
            .two {
                margin-left: 5%;
                 width: 100%
                      }
               .two h3{
                 font-size: 20px;
                 color: white;
                 background-color: #333333;
                 border-bottom:  1px solid  white;
                 padding: 6%;
                    }
              .two h2{
                font-size: 80px;
                 color: white;
                 background-color: #333333;
                line-height: 110px;
                width: 100%
                      }
                 .two h5{
                font-size: 14px;
                color: #86878b;
                background-color: #333333;
                padding-bottom: 5%;
                 }
                 .two h4 {
                 color: white ;
                line-height: 42px;
                background-color:  #ff8b38;
                   }
                 .two p{
                color: #86878b;
                line-height: 30px;
                padding: 2%;
                 background-color: #fff;
       }
                  .three {
                margin-left: 6%;
                 width: 100%
                      }
                 .three h3{
                font-size: 20px;
                 color: white;
                 background-color: #333333;
                 border-bottom:  1px solid  white;
                  padding: 6%;
                     }
              .three h2{
                 font-size: 80px;
                 color: white;
                 background-color: #333333;
                line-height: 110px;
                width: 100%
                      }
                 .three h5{
                font-size: 14px;
                color: #86878b;
                background-color: #333333;
                padding-bottom: 5%;
                border-bottom: 5px solid #ff8b38;
                 }
                 .three p{
                color: #86878b;
                line-height: 30px;
                padding: 2%;
                background-color: #fff;
                   }
/*page7*/
.bg7{
height: 610px;
background-color: #fff;
}
.bg7 .head-page7 {
    text-align: center;
}
.bg7 .head-page7 h1 {
    font-size: 36px;
    margin-top: 100px;
}
.bg7 .head-page7 hr {
    margin-top: 3%;
    background-color: #ff8b38;
    margin-left: 45%;
    width: 10%;
  height: 3px;
  border: 0;
}
.bg7 .head-page7 p{
    color: #a1a2a5;
    font-size: 14px;
    margin-top: 3%;
    margin-bottom: 3%;
}
.bg7 .doc-page7 p{
    color: #a1a2a5;
    font-size: 14px;
    background-color: #f5f5f5;
}
.bg7 .doc{
    display: inline-block;
    width: 20%;
    padding-left: 10%;
    margin-left: -1%;
    line-height: 20px;
}
.face {
    position: absolute;
    
}
.namehuman{
    position: relative;
    margin-top: 10%;
    margin-left: 50%;
}
   .namehuman h6 {
       font-size: 14px;
       color: #a1a2a5;
   }
/*page8*/
.bg8{
    height: 320px;
    background-color: #9a9a9a;
    text-align: center;
}
.bg8 h1{
    color: #fff;
    font-size: 36px;
   padding-top: 50px;
    
}
.bg8 hr{
    background-color: #fff;
    width: 10%;
    height: 1%;
    border: 0;
    margin-top: 30px;
    margin-left: 45%;
}
.bg8 p{
    margin-top: 30px;
    color:white;
}
.bg8 .silver-button{
    display: inline-block;
    height: 40px;
    line-height: 35px;
    width: 130px;
    border: 2px solid white;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 25px;
}
    .bg8 .silver-button .text-button {
        font-size: 15px;
        color: white ;
    }
.bg8  h6{
    color: #adadad;
    margin-top: 25px;
}
/*page9*/
.bg9{
    
    height: 610px;
}
.bg9 h1{
    font-size: 36px;
    margin-top: 10%;
    text-align: center;
}
.bg9 hr{
    margin-left: 47%;
    margin-top: 2%;
    width: 6%;
    height: 2px;
    border: 0;
    background-color: #ff8b38;
}
.bg9 p{
    text-align: center;
    color: #8e8f92;
    margin-top: 2%;
    
}
.bg9 .contact .left{
float: left;
width: 530px;
margin-left: 30px;
}
.bg9 .contact .left input{
width: 100%;
border-top:0;
border-right: 0;
border-left: 0; 
border-bottom: 1px solid  #d6d6d6;
margin: 40px;
line-height: 40px;
}
.bg9 .contact .right{
float: right;
margin-right: 35%
}
.bg9 .contact .right input{
    width: 300%;
margin-top: 40px;
border-top:0;
border-right: 0;
border-left: 0; 
border-bottom: 1px solid  #d6d6d6;
/*height: 295px;*/
  padding-bottom:  170%;
}
.bg9 .button-download{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    background-color: #ff8b38;
    border-radius: 4px;
    text-decoration: none;
    margin-top: 5%;
    margin-left: 47%;
  
}
.bg9 .button-download .button-text{
            font-size: 15px;
            color: #fff;
            padding: 23px;
 }

/*end*/
 footer {
     background-color: black;
     height: 100px;
 }
.social-media .social-buttons article{
    margin-right: 220px;
    margin-top: -10px;
}
.social-media .license {
    float: right;
    color: white;
    font-size: 15px;
    margin-top: 6%;
    margin-right: -25%;
}
.menu {
    width:1000px;
    margin:0px auto;
    background:#bf5c71;
    height: 50px;
    margin-top: 150px;
}
.menu li {
    margin:0px;
    list-style:none;
    font-family:'Ek Mukta';
}
.menu a {
    transition:all linear 0.15s;
    color:#919191;
    text-decoration:none;
}
.menu li:hover > a, .menu .sub-item > a {
    text-decoration:none;
    color:#be5b70;
} 
.menu .arrow {
    font-size:11px;
    line-height:0%;
} 
